*{font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
 }
html, body {
  height: 100%;
  width: 100%;
  background-color: #0b0c10;


}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 35px;
}
header h1 {
  color: #45a29e;
  font-size: 50px;
}
h2{
  color:#66fcf1;;
}
a {
  text-decoration: none;
  color: #45a29e;
  font-size: 20px;
}
a:hover {
  color: #c5c6c7;
}


.form{
  display: flex;
  flex-direction: column;
  font-size: large;
  align-items: left;
  margin:4vh 40vw 0 25vw;
  color: #45a29e;
  
}
input#submit{
  width: 150px;
  height: 60px;
  border-radius: 10px;
  margin-top: 10vh;
  align-self: center; 
  background-color: black;
  font-size: 33px;
  cursor: pointer;
  margin-bottom: 10vh;
  border: solid #45a29e;
  color: #45a29e;
}
#submit:hover {
  border: solid #66fcf1;
  color: #c5c6c7;
}
.submit{
  display: flex;
  justify-content: center;
}
input{
  height: 40px;
  border-radius:20px;
  width:50vw;
  background-color: #969699;
  border: solid #45a29e;;
}
.text-area{
  height: 20em;
  border-radius:10px;
  width:50vw;
  background-color: #969699;
  border: solid #45a29e; 
}