*{font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
 }
html, body {
  height: 100%;
  width: 100%;

}
.header{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 10px;
   
}
header h1{
    color: rgb(214, 198, 74);
    font-size: 50px;
}
a{
    text-decoration: none;
    color: rgb(214, 198, 74);
    font-size: 20px;
    
}
a:hover{
    background-color: rgb(89, 179, 217);
}

.form{
  display: flex;
  flex-direction: column;
  font-size: x-large
  
}
#submit{
  width: fit-content;
  color: red;
  border-radius: 10px;
}

input{
  border:solid black;
  height: 40px;
  border-radius:20px;
  width:30em;
}
.text-area{
 height: 20em;
  border-radius:10px;
  width:30em;
}
