* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #0b0c10;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 35px;
}
header h1 {
  color: #45a29e;
  font-size: 50px;
}
a {
  text-decoration: none;
  color: #45a29e;
  font-size: 20px;
}
a:hover {
  color: #c5c6c7;
}

.hero-section {
  display: flex;
}
img {
  border-radius: 90px;
  height: 60vh;
  width: 30vw;
  margin: 15vh 20vw 12vh 4vw;
}
main h5 {
  font-size: 2em;
  line-height: 40px;
  text-align: left;
  justify-content: center;
  color: #c5c6c7;
  margin: 8vh 12vw;
}

.name {
  font-size: 50px;
  color: #66fcf1;
  line-height: 75px;
}

main h3 {
  font-size: 2em;
  text-align: center;
  color: #0b0c10;
}

main p {
  text-align: left;
  justify-content: center;
  color: #c5c6c7;
  margin: 8vh 12vw;
  font-size: 1.5em;
  width: 45%;
}
.section {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  margin: 3vh 10vw 20vh 8vw;
}

.hero {
  align-items: center;

  width: 21vw;
  height: 50vh;
  /* background-color: #75f575;
   color: rgb(172, 245, 36); */
  background: #1f2833;
  border-radius: 15px;
  color: #66fcf1;
}

.hero:hover {
  background: #c5c6c7;
  color: #0b0c10;
  box-shadow: rgba(18, 255, 251, 0.927) 0px 30px 90px;
}

.btn {
  
  border-radius: 15px;
  height: 13vh;
  width: 24vw;
  background-color: black;
  font-size: 33px;
  cursor: pointer;
  margin-bottom: 10vh;
  border: solid #45a29e;
  color: #45a29e;
}
.btn:hover {
  border: solid #66fcf1;
  color: #c5c6c7;
}
ul {
  list-style-type: none;
  font-size: x-large;
  text-align: center;
  padding: 0;
}
ol {
  list-style-type: none;
  text-align: center;
  padding: 0;
  font-size: x-large;
}
.contact-me {
  display: flex;
  justify-content: center;
}
